---
layout: default
---

<!-- <img style="position: absolute; " src="/assets/images/hand-left-numbered.svg" width="300"/> -->

<h1>{{ page.title }}</h1>

{% if page.variations %}
  {% for variation in page.variations %}
    <section class="chord-variation" style="width: 300px; float: left; margin: 0 30px;">
      <h3 style="text-align: center;">{{ variation.kankles_type }}</h3>
      {% assign chordName = page.title %}
      {% assign chordFingers = variation.fingers %}
      {% include chord-diagram.html %}
      {% if variation.notes %}
        <p>{{ variation.notes }}</p>
      {% endif %}
    </section>
  {% endfor %}
{% endif %}

<section>
  <h2>Used in Songs</h2>

  {% assign found = false %}
  <ul>
    {% for song in site.songs %}
      {% if song.chords contains page.chord_name %}
        {% assign found = true %}
        <li><a href="{{ song.url | relative_url }}">{{ song.title }}</a></li>
      {% endif %}
    {% endfor %}
    {% if found == false %}
      <li>No songs using this chord... yet.</li>
    {% endif %}
  </ul>
</section>

<section class="chord-content" style="clear: both; padding-top: 20px;">
  {{ content }}
</section>
